#banner
 .banner_content
  %H1 File Store Room
  %p Your Life Work Organized , Always
  %button= link_to "Enter", new_user_registration_path

#callouts
 .callout_inner
  .wrapper
   .callout
    %h1 High-Performance File Storage
    %p Cloud Filestore is a managed file storage service for applications that require a filesystem interface and a shared filesystem for data. Filestore gives users a simple, native experience for standing up managed Network Attached Storage (NAS) with their Google Compute Engine and Kubernetes Engine instances. The ability to fine-tune Filestore’s performance and capacity independently leads to predictably fast performance for your file-based workloads.

#bottom_cta
 .wrapper GO Ahed
 %br
 %button= link_to "Join Now", new_user_registration_path



